name: Test Runner

# Trigger manually or on push to main
on:
  push:
    branches: [ main ]
  workflow_dispatch:  # optional: allows manual trigger

jobs:
  test:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - run: echo "Hello from runner $RUNNER_NAME"
